USE [master]
GO
/****** Object:  Database [LSEGA]    Script Date: 2020/05/30 12:50:51 p. m. ******/
CREATE DATABASE [LSEGA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LSEGA', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\LSEGA.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LSEGA_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\LSEGA_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LSEGA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LSEGA]
GO
/****** Object:  Table [dbo].[DetalleFactura]    Script Date: 2020/05/30 12:50:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleFactura](
	[idFactura] [nchar](10) NOT NULL,
	[Concepto] [nchar](10) NOT NULL,
	[idVenta] [nchar](10) NOT NULL,
	[NumFactura]  AS ([idVenta]+[idFactura]),
	[Referencia]  AS ('80808'+[idVenta])
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Platillop3]    Script Date: 2020/05/30 12:50:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Platillop3](
	[idPlatillo] [nchar](10) NOT NULL,
	[NomPlatillo] [nchar](20) NOT NULL,
	[idProducto] [nchar](10) NULL,
	[Cantidad] [int] NOT NULL,
	[Costo] [int] NOT NULL,
	[Total]  AS ([Cantidad]*[Costo]),
	[Totaliva]  AS (([Cantidad]*[Costo])*(0.16))
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Producto]    Script Date: 2020/05/30 12:50:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[idProducto] [nchar](10) NOT NULL,
	[NomProducto] [nchar](10) NOT NULL,
	[Marca] [nchar](10) NULL,
	[FechaVencimiento] [date] NOT NULL,
	[Costo] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[NombreCompleto]  AS (([Marca]+' ')+[NomProducto]),
	[CostoAlmacen]  AS ([Costo]+[Cantidad])
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 2020/05/30 12:50:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[idProveedor] [nchar](10) NOT NULL,
	[NomProveedor] [nchar](10) NOT NULL,
	[Marca] [nchar](10) NOT NULL,
	[idProducto] [nchar](10) NOT NULL,
	[NombreCompleto]  AS (([Marca]+' ')+[NomProveedor]),
	[idpieza]  AS ([idProveedor]+[idProducto])
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Venta]    Script Date: 2020/05/30 12:50:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[idVenta] [nchar](10) NOT NULL,
	[Total] [int] NOT NULL,
	[idPedido] [nchar](10) NOT NULL,
	[idPago] [nchar](10) NOT NULL,
	[Pago] [int] NOT NULL,
	[Cambio]  AS ([Pago]-[Total]),
	[Totaliva]  AS ([Total]*(0.16))
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IDX_idFactura]    Script Date: 2020/05/30 12:50:52 p. m. ******/
CREATE CLUSTERED INDEX [IDX_idFactura] ON [dbo].[DetalleFactura]
(
	[idFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IDX_NomPlatillo]    Script Date: 2020/05/30 12:50:52 p. m. ******/
CREATE CLUSTERED INDEX [IDX_NomPlatillo] ON [dbo].[Platillop3]
(
	[NomPlatillo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IDX_Marca]    Script Date: 2020/05/30 12:50:52 p. m. ******/
CREATE CLUSTERED INDEX [IDX_Marca] ON [dbo].[Producto]
(
	[Marca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IDX_Marca]    Script Date: 2020/05/30 12:50:52 p. m. ******/
CREATE CLUSTERED INDEX [IDX_Marca] ON [dbo].[Proveedor]
(
	[Marca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IDX_idPedido]    Script Date: 2020/05/30 12:50:52 p. m. ******/
CREATE CLUSTERED INDEX [IDX_idPedido] ON [dbo].[Venta]
(
	[idPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF

GO
/****** Object:  Index [IDX_NumFactura]    Script Date: 2020/05/30 12:50:52 p. m. ******/
CREATE NONCLUSTERED INDEX [IDX_NumFactura] ON [dbo].[DetalleFactura]
(
	[NumFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IDX_idProducto]    Script Date: 2020/05/30 12:50:52 p. m. ******/
CREATE NONCLUSTERED INDEX [IDX_idProducto] ON [dbo].[Platillop3]
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IDX_idProducto]    Script Date: 2020/05/30 12:50:52 p. m. ******/
CREATE NONCLUSTERED INDEX [IDX_idProducto] ON [dbo].[Producto]
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IDX_idProducto]    Script Date: 2020/05/30 12:50:52 p. m. ******/
CREATE NONCLUSTERED INDEX [IDX_idProducto] ON [dbo].[Proveedor]
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IDX_idVenta]    Script Date: 2020/05/30 12:50:52 p. m. ******/
CREATE NONCLUSTERED INDEX [IDX_idVenta] ON [dbo].[Venta]
(
	[idVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
